html,body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #F0F2F4;
}

body {
  overflow-x: hidden;
}

.big{
  padding: 8rem;
  background-color: #D02925;
  -moz-box-shadow:     0 0 15px #000000;
  -webkit-box-shadow:  0 0 15px #000000;
  box-shadow:          0 0 15px #000000;
}

.header-size{
  font-size: 50px;
  font-weight: lighter;
}
.subheader-size{
  padding-top: 10px;
  font-size: 20px;
  font-weight: lighter;
}

.grey{
  background-color: #cccs;
}

.profile{
  float:right;
  width: 200px;
  height: 200px;
  border-radius: 20%;
}
